{{FrontSide}}
<hr id="answer">
<div class="case-label">{{DeclensionClass}}</div>
<table>
    <tr><th>Case</th><th>Singular</th><th>Sg Definite</th><th>Plural</th><th>Pl Definite</th></tr>
    <tr><td>Nominative</td><td>{{NomSg}}</td><td>{{NomSgDef}}</td><td>{{NomPl}}</td><td>{{NomPlDef}}</td></tr>
    <tr><td>Accusative</td><td>{{AccSg}}</td><td>{{AccSgDef}}</td><td>{{AccPl}}</td><td>{{AccPlDef}}</td></tr>
    <tr><td>Gen-Dative</td><td>{{GenDatSg}}</td><td>{{GenDatSgDef}}</td><td>{{GenDatPl}}</td><td>{{GenDatPlDef}}</td></tr>
    <tr><td>Ablative</td><td>{{AblSg}}</td><td>{{AblSgDef}}</td><td>{{AblPl}}</td><td>{{AblPlDef}}</td></tr>
    <tr><td>Instrumental</td><td>{{InstrSg}}</td><td>{{InstrSgDef}}</td><td>{{InstrPl}}</td><td>{{InstrPlDef}}</td></tr>
</table>
<div class="translation">Indefinite: {{NomSgIndef}}</div>
